* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-quiz, .score-container {
    text-align: center;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.33em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    margin-top: 0.9em;
}

#start-button, 
#restart {
    font-size: 1.33em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

#restart {
    margin-top: 0.9em;
}

#display-container {
    background-color: plum;
    padding: 1.8em;
    max-width: 37.5em;
    border-radius: 0.6em;
    margin: 1em;
    text-align: center;
}

.header {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-div {
    background-color: whitesmoke;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
}

.questions {
    margin-bottom: 1.25em;
    font-weight: 600;
}

.options-div {
    font-size: 0.9em;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid saddlebrown;
    border-radius: 0.3em;
}

.options-div:disabled {
    color: black;
    cursor: not-allowed;
}

#next-button {
    font-size: 1em;
    margin-top: 1em;
    background-color: black;
    color: aliceblue;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.incorrect {
    background-color: whitesmoke;
    color: red;
    border-color: red;
}

.correct {
    background-color: whitesmoke;
    color: green;
    border-color: green;
}

#user-score {
    font-size: 1.5em;
    color: whitesmoke;
}